<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.litteltestevocacional2">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LittelTesteVocacional2">
        <activity
            android:name=".TelaAntesTeste"
            android:exported="false" />
        <activity
            android:name=".TelaEstabilidade"
            android:exported="false" />
        <activity
            android:name=".TelaConformidade"
            android:exported="false" />
        <activity
            android:name=".TelaInfluencia"
            android:exported="false" />
        <activity
            android:name=".TelaDominancia"
            android:exported="false" />
        <activity
            android:name=".SairIrTeste"
            android:exported="false" />
        <activity
            android:name=".TelaCadastro"
            android:exported="false" />
        <activity
            android:name=".TelaTeste"
            android:exported="false" />
        <activity
            android:name=".TelaLogin"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>